.hero {
  width: 100vw;
  height: 100vh;
  scroll-snap-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  position: relative;
}

.hero__container {
  position: absolute;
  display: flex;
  left: 50%;
  translate: -50%;
  transition: all 200ms;
}

.title {
  display: inline-block;
  font-size: 5rem;
  font-weight: 600;
  height: 100px;
  overflow: hidden;
  transition: all 200ms;
}

.p {
  display: inline-block;
  font-size: 5rem;
  font-weight: 600;
  margin-left: 1.5rem;
  overflow: hidden;
  transition: all 200ms;
  color: var(--main-clr);
}
