.stages {
  height: 100vh;
  width: 100vw;
  display: flex;
  scroll-snap-align: center;
  position: relative;
  transition: background-color 200ms;
}

.flap {
  position: absolute;
  top: 0px;
  right: -50px;
  filter: drop-shadow(5px 2px 2px #00000025);
  user-select: none;
}

.flap__title {
  position: absolute;
  transform: rotate(-90deg);
  font-size: 1rem;
  font-weight: 600;
  background: transparent;
  right: -60px;
  top: 80px;
  user-select: none;
  cursor: pointer;
}

.stage {
  position: absolute;
  background-color: #eff5e9;
  height: calc(100vh - 150px);
  width: 100vw;
  bottom: 0;
  box-shadow: 4px 1px 4px 0 #00000025;
  display: grid;
  grid-template-columns: 1fr 65vh;
  grid-template-rows: 4rem 1fr;
  transition: all 700ms ease-in-out;
  padding: 50px 100px 0 300px;
}

.stage:nth-child(1) {
  left: -200px;
  z-index: 40;
}

.stage:nth-child(2) {
  left: -150px;
  z-index: 30;
}

.stage:nth-child(3) {
  left: -100px;
  z-index: 20;
}

.stage:nth-child(4) {
  left: -50px;
  z-index: 10;
}

.stage__title {
  font-size: 3rem;
  margin-left: 100px;
  margin-top: 50px;
}

.stage__p {
  font-size: 1.5rem;
  grid-area: 2 / 1 / 3 / 2;
  place-self: center;
  margin: 100px;
  line-height: 2.25rem;
}

.stage__img {
  width: 50vw;
  height: 50vh;
  grid-area: 1 / 2 / 3 / 3;
  place-self: center;
}
